<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Salons</title>
</head>
<body>
<div class="container">
    <div class="row">
        <h1 class="p-2 m-3">Available Salons:</h1>
        <br>
        <div sec:authorize="hasRole('ADMIN')">
            <a href="salons/add-salon" class="btn btn-primary btn-md p-2 m-3" type="button">Add new salon</a>
        </div>
        <br>
        <br>
    </div>
    <div class="row">
        <div class="col-4" th:each="salon:${salons}">
            <div class="col-auto">
                <div class="card m-3">
                    <img src="https://via.placeholder.com/350x100" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">
                            <th:block th:text="${salon.getName()}"></th:block>
                        </h5>
                        <p class="card-text">Address:
                            <th:block th:text="${salon.getAddress()}"></th:block>
                        </p>
                        <th:block sec:authorize="hasRole('ROLE_ADMIN')">
                            <a th:href="@{'/salons/edit-salon/{id}' (id=${salon.getId()})}" aria-current="true"
                            class="btn btn-secondary mt-2">
                                Edit salon</a>
                        </th:block>

                        <th:block sec:authorize="hasRole('ROLE_ADMIN')">
                            <form th:action="@{'/salons/delete/{id}' (id=${salon.getId()})}"
                                  th:method="DELETE">
                                <button type="submit"
                                        class="btn btn-sm btn-danger delete-product mt-3">
                                    <i class="fa fa-trash">Delete</i>
                                </button>
                            </form>
                            </th:block>
                        <th:block sec:authorize="isAuthenticated()" c>
                            <a th:href="@{'/salons/info/{id}' (id=${salon.getId()})}" class="btn btn-primary mt-3">
                                Make a reservation
                            </a>
                        </th:block>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>